.git
**/node_modules
**/.next
**/dist
apps/api/drizzle
.env
.env.*
**/.env.*
.planning
.claude
.turbo
**/.turbo
.cache
deploy
.yarn/cache
.yarn/install-state.gz
out
**/*.tsbuildinfo
*.vault-import.json
**/*.vault-import.json
.vscode
